<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head:: head" />

<body>
	<div th:replace="menu:: menu" />
	<main class="container">
		<a class="btn btn-primary active" role="button" th:href="@{/filmes/new}">
			<i class="bi bi-plus-square"></i>
			Filme
		</a>



		<div class="bg-light p-5 rounded">
			<div class="row">



				<form th:object="${filme}" action="/filmes/save" method="POST">
					<div class="col-8">
						<label class="form-label" for="title">Title</label>
						<input type="text" th:field="*{title}" class="form-control" placeholder="Nome do filme"
							th:errorclass="inputError" autocomplete="off">

						<span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">campo
							invalido</span>

					</div>
					<div class="col-8">
						<label class="form-label" for="category">Category</label>
						<select name='category' class="form-control">
							<option th:each="cat: ${categories}" th:value="${cat}" th:text="${cat}" />
						</select>
					</div>
					<div class="col">
						<label class="form-label" for="score">Score</label>
						<input type="number" th:field="*{score}" class="form-control" placeholder="7.5"
							autocomplete="off">

						<span class="error" th:if="${#fields.hasErrors('score')}" th:errors="*{score}">campo
							invalido</span>

					</div>
					<div class="col">
						<label class="form-label" for="release">Release</label>
						<input type="date" th:field="${filme.release}" class="form-control" placeholder="2001-05-20"
							autocomplete="off">
						<span class="error" th:if="${#fields.hasErrors('release')}" th:errors="*{release}">campo
							invalido</span>

					</div>
					<button class="btn btn-dark">Save</button>
				</form>
			</div>
		</div>
	</main>

	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>