<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head:: head" />

<body>
	<div th:replace="menu:: menu" />
	<main class="container">
		<a class="btn btn-primary active" role="button" th:href="@{/person/new}">
			<i class="bi bi-plus-square"></i>
			Pessoa
		</a>

		<div class="bg-light p-5 rounded">
			<div class="row">


				<form th:object="${person}" action="/person/save" method="POST">
					<div class="col-8">
						<label class="form-label" for="name">Name</label>
						<input type="text" th:field="*{name}" class="form-control" placeholder="Nome">
					</div>

					<button class="btn btn-dark">Save</button>
				</form>
			</div>
		</div>
	</main>

	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>